@charset "utf-8";
/* @group Style Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-family: inherit; vertical-align: baseline; }
body { background: white; }
/* @group Baseline Styles */
body { font: normal 13px Trebuchet MS, Arial, Helvetica, sans-serif; color: #686868; }
p { margin: 0; padding: 0 0 1.2em 0; }
/* Text font styles*/
h1 { font-size: 27px; letter-spacing: -1px; padding: 0 0 0 0; color: #686868; font-weight: bold; font-family:Arial;}
h2 { font-size: 24px; letter-spacing: -1px; padding: 0 0 14px 0;  color: #686868}
h3 { font-size: 18px; letter-spacing: -1px; padding: 0 0 0 0; color: #404040; font-weight: bold;}
h4 { font-size: 16px; letter-spacing: -1px; padding: 0 0 5px 0; color: #404040; }
h5 { font-size: 14px; letter-spacing: -1px; padding: 0 0 14px 0; color: #686868; }
.orange_font { color: #f90; }
.white_font { color: #F9F9F9; }
.grey_font { color: #686868; }
.blue_font { color: #437899; }

a, a:link, a:visited { text-decoration: none; color: #046381; font-weight: bold;  font-size: 13px;}
a:hover { text-decoration: underline; }

ul { padding-top: 0; padding-bottom: 1.2em; margin-top:0px;}
ol { margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 1.2em; }
img { border: 0; }

.clear_both{
margin:0px;
padding:0px;
height:1px;
clear: both;
}
.center {text-align: center;}

.bounded{
width:980px; 
margin: 0 auto;
}

.button {
color: white;
font-weight: bold;
padding: 4px 10px 4px 10px;
text-decoration: none;
font-size: 18px;
background-color:#777777;
}

.button:hover {
background-color:#1C75CE;
}

/*---- CROSS BROWSER DROPDOWN MENU ----*/
ul#nav {margin: 0 0 0 0;}
ul.drop li ul li{ padding: 5px 15px; }
ul.drop a { display:block; color: #fff; font-size: 14px; text-decoration: none;}
ul.drop, ul.drop li, ul.drop ul { list-style: none; margin: 0; padding: 0; border: 1px solid #fff; color: #fff;}
ul.drop { position: relative; z-index: 597; float: left; }
ul.drop li { float: left; line-height: 1.3em; vertical-align: middle; zoom: 1; padding: 0px 0px; }
ul.drop li.hover, ul.drop li ul li:hover { position: relative; z-index: 599; cursor: default; background: #1e7c9a; }
ul.drop ul { visibility: hidden; position: absolute; top: 100%; left: -70px; z-index: 598; width: 105px; background: #555; border: 1px solid #fff; }
ul.drop ul li { float: none; }
ul.drop ul ul { top: -2px; left: 100%; }
ul.drop li:hover > ul { visibility: visible }

#logo{
float:left;
}
#header_top{
height:30px;
position:fixed;
width:800px; 
z-index:99;
text-align:left;
}
#top_page{
position:fixed;
right:5px;
background:white;
height: 20px;
}
#header_middle{
padding-top:30px;
}
#header_bottom {
padding-top:10px;
padding-bottom:10px;
}
#header_board {
}
#header_error{
color: #686868;
background-color:#FFFF99;
text-align: center;
font-size: 18px;
display:none;
}

#time_remaining_box{
padding:5px;
float: left;
color:black;
text-align: center;
}

#header_title{
float: left;
width: 460px;
text-align:right;
}

#left_container{
float:left;
width:645px;/*60%*/
/*background-color:red;*/
}
#right_container{
float:left;
width:330px;/*40%*/
margin: 0 0 0 -3px;/*as close as posible to the left container*/
}
.user_input{
font: normal 13px helvetica,arial;
color:black;
}
.user_input img{
border: 1px solid black;
}
#comments_container{
padding-left:10px;
}
#cache_html{
display:none;
}

.content_image{
max-width:638px;
max-height:388px;
border:1px solid grey;
/*width:100%;*/
}
#board_left{
margin:15px 0 5px 0;
float:left;
width:645px;
}
#board_right{
margin:15px 0 5px 0;
width:330px;
float:left;
}
#comment_textarea{
margin: 0; 
padding: 2px;
/*border: 1px solid grey;*/
width:510px;
overflow:hidden; 
height:35px;
}
#send_comment{
margin-left:5px;
float:right;
padding: 8px 15px 0px 15px;
cursor:pointer;
height:31px;
background:#9CA6B2;
border:1px solid grey;
}
#send_comment:hover{
background:#697077;
}
#send_comment a{
color:white;
font-size:18px;
}
#content_footer{
margin: 7px 0 40px 0;
}
#share_links{
float:right;
}
#perma_link{
float:right;
margin-left: 10px;
}
#subject_voting{
margin-right:5px;
}
#country_info{
font-weight: bold;
margin-top:40px;
}
#submit_info{
float:left;
margin-left: 10px;
padding-left: 10px;
border-left:1px solid #848282;
height:60px;
width:150px;
}
#comment_status{
float:left;
font-weight:bold;
background-color: #0099CC;
color:white;
visibility:hidden;
}
#comment_timer{
float:left;
font-size: 70px;
color:black;
font-weight:bold;
text-align: center;
margin: -10px 0 -20px 50px;
}
.time_remaining_encloser {
float:left;
font-size:50px;
}
/*VERTICAL ALIGN http://www.jakpsatweb.cz/css/css-vertical-center-solution.html*/
/*HORIZONTAL ALIGN http://www.katcode.com/css-horizontally-centering-div-of-unknown-width/*/
#left_content_container{
width:640px;
height:390px;
border: 1px solid grey;
}
#left_content_div{
float: left;
position: relative;
right: 50%;
margin: 0px auto;
#position: relative;
/* #top: -50%;*/
}
#left_content_container_outter{
display: table; height: 390px; #position: relative; overflow: hidden;
}
#left_content_container_inner {
text-align:left;
margin-left: auto;
margin-right: auto;
overflow:hidden;
width:640px; #position: absolute; display: table-cell; vertical-align: middle;
/*#top: 50%;*/
}
#left_content_container_inside{
float: left;
left: 50%;
position: relative;
margin: 0px auto;
}
#right_content_container{
margin-left:15px;
}
#live_now_box{
text-align:center;
font-family:Arial;
font-size: 14px;
font-weight:bold;
color:#FFF2EC;
background:#94080B;
width:50px;
height:45px;
display:table-cell;
vertical-align:middle;
margin:0;
}
#right_content_div{
text-align: justify;
font-size:14px;
}
#comments_title{
color:#8A899E;
float:left;
font-size: 16px;
font-weight:bold;
margin-top:10px;
}

#previous_left{
float:left;
width:77px;
font-size: 11px;
}

#previous_right, #previous_right a{
float:left;
font-size: 11px;
}

.top_page_menu{
float:right;
text-align:right;
padding:1px 3px 0 3px;
/*margin-top:18px;*/
}

.navigation{
list-style: none;
margin-bottom: 1em;
}
.navigation li {
display: block;
float: left;
margin-right: 10px;
}
.navigation li a {
display: block;
font-size:15px;
}
.navigation .active a {
color:black !important;
}

#utc_clock{
font-weight:bold;
}
.page_hrline{
color:#EEE;
background-color:#EEE;
height:1px;
border:none;
margin:0;
padding:0;
}

#comments_board {
	
	width: 100%;
	bottom:1px;
	top:1px;
	
	/*overflow: auto;*/
	/*border: 1px dotted black;*/

}
.comment_board_entry{
margin-bottom:30px;
padding: 0px;

}
.left_comment_side{
float:left;
width:60px;
}
.user_image_icon{
border:1px solid black;
}
.right_comment_side{
float:left;
width:550px;
}
.comment_number{
/*font-size:26px;*/
background-color: grey;
color: white;
}
.comment_country{
font-weight:bold;
}
.comment_text{
}
.comment_header{
color:grey;
font-weight:bold;
}
.comment_vote{
float:right;
}
.comment_votes_count{
font-style: normal;
float:left;
width:15px;
}
.total_likes{font-style: normal; color:#009933;}
.total_dislikes{font-style: normal; color:#CC0000;}
.total_likes0{color:grey !important;}
.total_dislikes0{color:grey !important;}
.comment_like_button, .sub_like_button{
    display:block;
    height:16px;
    width:14px;
	float:left;
	cursor:pointer;
}
.comment_dislike_button, .sub_dislike_button {    
	margin-top:4px;
    display:block;
    height:16px;
    width:14px;
	float:left;
	cursor:pointer;
}
/* Footer Style */
#footer {
padding-top:10px;
color:#686868;
font-size:12px;
font-weight:bold;
text-align:right;
}

.row_red{
background-color:red !important;
}
.row_yellow{
background-color:yellow !important;
}

#tags_container{
margin-top:20px;
padding:5px;
}
#tags_list{
list-style: disc;
}
#tags_list ul li{
float:left;
display:block;
margin:5px;
}


#tags_list a{
padding:2px;
font-size:14px;
font-weight:bold;
}

#tags_list a:hover { 
text-decoration: none;
background-color: #046381;
color:white;
}

.field_verify{
font-family:Arial;
font-weight:bold;
font-size:16px;
color:black;
}

#column_left{
width:170px;
float:left;
padding-right:15px;
}
#column_right{
width:760px;
float:left;
padding-left:15px;
/*border-left: 1px solid #E8E8E8;*/
}
#column_2_container{
padding-top:10px;
padding-bottom:200px;
display:block;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}
.comment{
margin:0px 0px 15px 0px;
border-bottom: 1px solid #EEE;
}
.comment_content{
margin-bottom:15px;
}
.detail_section{
margin-top: 10px;
margin-bottom: 25px;
}
.detail_header{
padding-bottom: 7px;
border-bottom: 1px solid #EEE;
margin-bottom:6px;
}
.detail_cell{
padding-bottom:20px;
}
tbody tr:nth-child(even) td.detail_cell {
background:#FFFFFF;
}
.sub_vote_percentbar_dislikes { background:#CCCCCC; height:3px; }
.sub_vote_percentbar_likes  { background: #00D121; height: 3px; }
.sub_vote_label{
font-style: normal;
float:left;
}