php_value error_reporting 6135
php_flag ignore_repeated_errors off
php_flag ignore_repeated_source off
php_flag display_errors on
php_flag html_errors on
RewriteEngine on
ExpiresActive on


# Fix Apache internal dummy connections from breaking the site [(site_url)], generating /* URI requests to the webapp
# This rules cancels the apache dummy connection deamon requests from actually executing in the server
RewriteCond %{HTTP_USER_AGENT} ^.*internal\ dummy\ connection.*$ [NC]
RewriteRule .* - [F,L]



# CLIENT SIDE CACHING CONFIGURATION
# Unset the Expires Headers in every url to prevent apache Cache(server side) from NOT caching urls. Then enable back again for earch resourses as desired.
# //TODO: Set a Expires with a weekly date with a cronjob rewriting the first line of this file. ie: Header set Expires "Thu, 15 Apr 2013 20:00:00 GMT"
# This way speed would be even faster as client(or middle proxies!!) would be caching the page for a week, not even needing to reach to the server
# also bots wont be visiting unnecesarily
Header unset Expires
Header unset Cache-Control
Header unset Pragma

#Rewrite rule for more robust caching (ie: file-023.js -> file.js, file-024.js -> file.js)
#Every time a file changes, the php script is programmed to generated a new url for each resource in the main html.
#This url then is mapped to the original file name with this rule.
RewriteRule ^(.+)-(\d+).(js|css)$ $1.$3 [L]
#Also implement same rewrite for image resources under /images directory only (notice is NOT the img for user uploaded files)
RewriteCond %{REQUEST_URI} /images/
RewriteRule ^(.+)-(\d+).(ico|pdf|jpg|jpeg|png|gif)$ $1.$3 [L]

# http://www.askapache.com/htaccess/apache-speed-cache-control.html
# cache all resources files for 1 year as this are going to change with the url in the filename with the RewriteRule on the calling dynamically generated html page
# We dont set for more than a year because that would full the user's browser cache
# Set both(Expires and Max-age) for backward compatiblity Http1/1.1 browsers
<FilesMatch "\.(ico|pdf|jpg|jpeg|png|gif)$">
	Header unset Pragma
	FileETag None
	Header unset ETag
	#Header set Cache-Control "max-age=2419200, public, must-revalidate"
	#Header set Expires "Thu, 15 Apr 2020 20:00:00 GMT"
	Header set Cache-Control "max-age=31536000, public"	
	ExpiresDefault "access plus 1 year"
	Header unset Last-Modified
</FilesMatch>
<FilesMatch "(\.css|\.js)$">
	Header unset Pragma
	FileETag None
	Header unset ETag
	#ExpiresDefault A29030400
	#Header set Expires "Thu, 15 Apr 2020 20:00:00 GMT"
	Header set Cache-Control "max-age=31536000, public"	
	ExpiresDefault "access plus 1 year"
	Header unset Last-Modified
</FilesMatch>



# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule ^(.*)$ index.php/$1 [L]

# TODO:Rewrite subdomains ( Disabled for now, lots of issues. apache not stable, or bad site design for domain rewrite with yii pages)
#RewriteCond %{HTTP_HOST} !^www.* [NC]
#RewriteCond %{HTTP_HOST} ^([^\.]+)\.samesub\.com
#RewriteRule ^(.*) /%1/$1 [L]

# RequestHeader unseting is configure on the httpd.conf file, as this rule needs to be set on the early stage
